<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<title>heart_pred</title>
    
</head>
	<style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 125px;
      padding: 16px;
      bottom: 8px;
    }</style>
<body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Medscape App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>

          <a class="nav-item nav-link" href="/cancer">Cancer</a>
          <a class="nav-item nav-link" href="/diabetes">Diabetes</a>
          <a class="nav-item nav-link" href="/heart">Heart</a>
          <a class="nav-item nav-link" href="/liver">Liver</a>
          <a class="nav-item nav-link" href="/kidney">Kidney</a>



        </div>
        <!-- Navbar Right Side
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>-->
      </div>
    </div>
  </nav>
</header>
<div class="container",class="form-group">
    
<h1><center><b>Heart Disease Diagnosis</b></center></h1>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="{{ url_for('static', filename='heart.jpg') }}"/>
   </div>

<p>
<br>
There are many different forms of heart disease. The most common cause of heart disease is narrowing or blockage of the coronary arteries, the blood vessels that supply blood to the heart itself. This is called coronary artery disease and happens slowly over time. It's the major reason people have heart attacks.<br>
Other kinds of heart problems may happen to the valves in the heart, or the heart may not pump well and cause heart failure. Some people are born with heart disease.
You can help reduce your risk of heart disease by taking steps to control factors that put you at greater risk:<br>
<li>Control your blood pressure</li>
<li>Lower your cholesterol</li>
<li>Don't smoke</li>
<li>Get enough exercise</li>
</p>

<h3>Symptoms</h3>
 <ul>
  <li>Chest pain, chest tightness, chest pressure and chest discomfort (angina).</li>
  <li>Shortness of breath.</li>
  <li>Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed.</li>
  <li>Pain in the neck, jaw, throat, upper abdomen or back.</li>
</ul>
<br> 
<hr>
<br>






    <h3>Fill in the patient report details in the below fields :</h3><br>

  <form action="/result" method="POST">

    <div class="two-col">

    <div class="col1">


    <input type="text" id="age" name="age" placeholder="Age"><br>
    <br>

    <input type="text" id="sex" name="sex" placeholder="Gender (F:1,M:0)"><br>
    <br>

    <input type="text" id="cp" name="cp" placeholder="Chest Pain Type"><br>
    <br>

    <input type="text" id="trestbps" name="trestbps" placeholder="Resting BP."><br>
    <br>

    <input type="text" id="chol" name="chol" placeholder="Serum Cholestoral"><br>
    <br>
</div>

    <div class="col2">



    <input type="text" id="fbs" name="fbs" placeholder="Fasting Blood Sugar"><br>
    <br>

    <input type="text" id="restecg" name="restecg" placeholder="Resting ECG"><br>
    <br>

    <input type="text" id="thalach" name="thalach" placeholder="Max Heart Rate Achv."><br>
    <br>

    <input type="text" id="exang" name="exang" placeholder="Exercise Angina"><br>
    <br>


</div>

    <div class="col3">



    <input type="text" id="oldpeak" name="oldpeak" placeholder="ST Depression"><br>
    <br>

    <input type="text" id="slope" name="slope" placeholder="Slope"><br>
    <br>

    <input type="text" id="ca" name="ca" placeholder="Major Vessels"><br>
    <br>

    <input type="text" id="thal" name="thal" placeholder="Heart Rate"><br><br>
<input type="submit" class="heartbutton" value="Submit"><br><br>
</div>
    <br>
    <br>

</form>


    </div>

</div>
<!-- Footer -->
    <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/kdalal95?tab=repositories"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/krishna-dalal-039692170/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'><b>Made with ❤️ by Krishna Dalal & Debashis Das.</b></p>
       </div>
</body>
</html>
